<mtapp:setting
    id="ranking_entries_ga_password"
    label="ranking_entries_ga_password"
    hint="ranking_entries_ga_password"
    show_hint="1">

    <!-- input:text -->
    <input type="text" name="ranking_entries_ga_password" id="ranking_entries_ga_password" class="text" value="<mt:var name="ranking_entries_ga_password" escape="html">" mt:watch-change="1" autocomplete="off" />

<mt:ignore>
    <!-- input:checkbox -->
    <input type="checkbox" name="ranking_entries_ga_password" id="ranking_entries_ga_password" value="1"<mt:if name="__UD__"> checked="checked"</mt:if> mt:watch-change="1" />
</mt:ignore>

<mt:ignore>
    <!-- input:radio -->
    <input type="radio" name="ranking_entries_ga_password" id="ranking_entries_ga_password_1" value="foo"<mt:if name="__UD__" eq="foo"> checked="checked"</mt:if> mt:watch-change="1" />
    <input type="radio" name="ranking_entries_ga_password" id="ranking_entries_ga_password_2" value="bar"<mt:if name="__UD__" eq="bar"> checked="checked"</mt:if> mt:watch-change="1" />
</mt:ignore>

<mt:ignore>
    <!-- textarea -->
    <textarea name="ranking_entries_ga_password" id="ranking_entries_ga_password" class="text high" mt:watch-change="1"><mt:var name="ranking_entries_ga_password"></textarea>
</mt:ignore>

<mt:ignore>
    <!-- select -->
    <select name="ranking_entries_ga_password" id="ranking_entries_ga_password">
        <option value="foo"<mt:if name="ranking_entries_ga_password" eq="foo"> selected="selected"</mt:if>>foo</option>
        <option value="bar"<mt:if name="ranking_entries_ga_password" eq="bar"> selected="selected"</mt:if>>bar</option>
    </select>
</mt:ignore>

</mtapp:setting>

<mtapp:setting
    id="ranking_entries_ga_profile_id"
    label="ranking_entries_ga_profile_id"
    hint="ranking_entries_ga_profile_id"
    show_hint="1">

    <!-- input:text -->
    <input type="text" name="ranking_entries_ga_profile_id" id="ranking_entries_ga_profile_id" class="text" value="<mt:var name="ranking_entries_ga_profile_id" escape="html">" mt:watch-change="1" autocomplete="off" />

<mt:ignore>
    <!-- input:checkbox -->
    <input type="checkbox" name="ranking_entries_ga_profile_id" id="ranking_entries_ga_profile_id" value="1"<mt:if name="__UD__"> checked="checked"</mt:if> mt:watch-change="1" />
</mt:ignore>

<mt:ignore>
    <!-- input:radio -->
    <input type="radio" name="ranking_entries_ga_profile_id" id="ranking_entries_ga_profile_id_1" value="foo"<mt:if name="__UD__" eq="foo"> checked="checked"</mt:if> mt:watch-change="1" />
    <input type="radio" name="ranking_entries_ga_profile_id" id="ranking_entries_ga_profile_id_2" value="bar"<mt:if name="__UD__" eq="bar"> checked="checked"</mt:if> mt:watch-change="1" />
</mt:ignore>

<mt:ignore>
    <!-- textarea -->
    <textarea name="ranking_entries_ga_profile_id" id="ranking_entries_ga_profile_id" class="text high" mt:watch-change="1"><mt:var name="ranking_entries_ga_profile_id"></textarea>
</mt:ignore>

<mt:ignore>
    <!-- select -->
    <select name="ranking_entries_ga_profile_id" id="ranking_entries_ga_profile_id">
        <option value="foo"<mt:if name="ranking_entries_ga_profile_id" eq="foo"> selected="selected"</mt:if>>foo</option>
        <option value="bar"<mt:if name="ranking_entries_ga_profile_id" eq="bar"> selected="selected"</mt:if>>bar</option>
    </select>
</mt:ignore>

</mtapp:setting>

<mtapp:setting
    id="ranking_entries_ga_email"
    label="ranking_entries_ga_email"
    hint="ranking_entries_ga_email"
    show_hint="1">

    <!-- input:text -->
    <input type="text" name="ranking_entries_ga_email" id="ranking_entries_ga_email" class="text" value="<mt:var name="ranking_entries_ga_email" escape="html">" mt:watch-change="1" autocomplete="off" />

<mt:ignore>
    <!-- input:checkbox -->
    <input type="checkbox" name="ranking_entries_ga_email" id="ranking_entries_ga_email" value="1"<mt:if name="__UD__"> checked="checked"</mt:if> mt:watch-change="1" />
</mt:ignore>

<mt:ignore>
    <!-- input:radio -->
    <input type="radio" name="ranking_entries_ga_email" id="ranking_entries_ga_email_1" value="foo"<mt:if name="__UD__" eq="foo"> checked="checked"</mt:if> mt:watch-change="1" />
    <input type="radio" name="ranking_entries_ga_email" id="ranking_entries_ga_email_2" value="bar"<mt:if name="__UD__" eq="bar"> checked="checked"</mt:if> mt:watch-change="1" />
</mt:ignore>

<mt:ignore>
    <!-- textarea -->
    <textarea name="ranking_entries_ga_email" id="ranking_entries_ga_email" class="text high" mt:watch-change="1"><mt:var name="ranking_entries_ga_email"></textarea>
</mt:ignore>

<mt:ignore>
    <!-- select -->
    <select name="ranking_entries_ga_email" id="ranking_entries_ga_email">
        <option value="foo"<mt:if name="ranking_entries_ga_email" eq="foo"> selected="selected"</mt:if>>foo</option>
        <option value="bar"<mt:if name="ranking_entries_ga_email" eq="bar"> selected="selected"</mt:if>>bar</option>
    </select>
</mt:ignore>

</mtapp:setting>

