@charset "UTF-8";
/* old #fcfcfc */
/*---------------------------- reset ----------------------------*/
html {
  color: #333;
  background: #fff;
  overflow-y: scroll; }

body {
  font-family: Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 18px;
  height: 100%;
  text-align: left;
  -webkit-text-size-adjust: none; }
  @media screen and (min-width: 0px) and (max-width: 568px) {
    body {
      font-size: 14.4px; } }

hr, legend {
  display: none; }

img {
  border: none;
  vertical-align: bottom; }

div, dl, dt, dd, form, input, ul, ol, li, p, select, textarea, span, th, td {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

address, th, caption, em, strong {
  font-style: normal;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0; }

input, select, textarea {
  font-size: 100%;
  font-family: inherit;
  font-weight: inherit; }

sup {
  vertical-align: text-top;
  font-size: 72%; }

sub {
  vertical-align: text-bottom;
  font-size: 72%; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font-size: inherit; }

caption {
  text-align: left; }

fieldset {
  border: 0; }

a {
  overflow: hidden;
  outline: none; }
  a:link {
    color: #ff5a0c;
    text-decoration: none; }
  a:visited {
    color: #ff5a0c;
    text-decoration: none; }
  a:hover, a:active {
    color: #ff5a0c;
    text-decoration: none; }

/*---------------------------------------------
Common Style
---------------------------------------------*/
/* clearfix
---------------------------------------------*/
.clearfix {
  zoom: 1; }
  .clearfix:after {
    content: "";
    display: block;
    clear: both; }

/* float
---------------------------------------------*/
.fl {
  float: left !important; }

.fr {
  float: right !important; }

/* width
---------------------------------------------*/
.w1p {
  width: 1% !important; }

.w2p {
  width: 2% !important; }

.w3p {
  width: 3% !important; }

.w4p {
  width: 4% !important; }

.w5p {
  width: 5% !important; }

.w6p {
  width: 6% !important; }

.w7p {
  width: 7% !important; }

.w8p {
  width: 8% !important; }

.w9p {
  width: 9% !important; }

.w10p {
  width: 10% !important; }

.w11p {
  width: 11% !important; }

.w12p {
  width: 12% !important; }

.w13p {
  width: 13% !important; }

.w14p {
  width: 14% !important; }

.w15p {
  width: 15% !important; }

.w16p {
  width: 16% !important; }

.w17p {
  width: 17% !important; }

.w18p {
  width: 18% !important; }

.w19p {
  width: 19% !important; }

.w20p {
  width: 20% !important; }

.w21p {
  width: 21% !important; }

.w22p {
  width: 22% !important; }

.w23p {
  width: 23% !important; }

.w24p {
  width: 24% !important; }

.w25p {
  width: 25% !important; }

.w26p {
  width: 26% !important; }

.w27p {
  width: 27% !important; }

.w28p {
  width: 28% !important; }

.w29p {
  width: 29% !important; }

.w30p {
  width: 30% !important; }

.w31p {
  width: 31% !important; }

.w32p {
  width: 32% !important; }

.w33p {
  width: 33% !important; }

.w34p {
  width: 34% !important; }

.w35p {
  width: 35% !important; }

.w36p {
  width: 36% !important; }

.w37p {
  width: 37% !important; }

.w38p {
  width: 38% !important; }

.w39p {
  width: 39% !important; }

.w40p {
  width: 40% !important; }

.w41p {
  width: 41% !important; }

.w42p {
  width: 42% !important; }

.w43p {
  width: 43% !important; }

.w44p {
  width: 44% !important; }

.w45p {
  width: 45% !important; }

.w46p {
  width: 46% !important; }

.w47p {
  width: 47% !important; }

.w48p {
  width: 48% !important; }

.w49p {
  width: 49% !important; }

.w50p {
  width: 50% !important; }

.w51p {
  width: 51% !important; }

.w52p {
  width: 52% !important; }

.w53p {
  width: 53% !important; }

.w54p {
  width: 54% !important; }

.w55p {
  width: 55% !important; }

.w56p {
  width: 56% !important; }

.w57p {
  width: 57% !important; }

.w58p {
  width: 58% !important; }

.w59p {
  width: 59% !important; }

.w60p {
  width: 60% !important; }

.w61p {
  width: 61% !important; }

.w62p {
  width: 62% !important; }

.w63p {
  width: 63% !important; }

.w64p {
  width: 64% !important; }

.w65p {
  width: 65% !important; }

.w66p {
  width: 66% !important; }

.w67p {
  width: 67% !important; }

.w68p {
  width: 68% !important; }

.w69p {
  width: 69% !important; }

.w70p {
  width: 70% !important; }

.w71p {
  width: 71% !important; }

.w72p {
  width: 72% !important; }

.w73p {
  width: 73% !important; }

.w74p {
  width: 74% !important; }

.w75p {
  width: 75% !important; }

.w76p {
  width: 76% !important; }

.w77p {
  width: 77% !important; }

.w78p {
  width: 78% !important; }

.w79p {
  width: 79% !important; }

.w80p {
  width: 80% !important; }

.w81p {
  width: 81% !important; }

.w82p {
  width: 82% !important; }

.w83p {
  width: 83% !important; }

.w84p {
  width: 84% !important; }

.w85p {
  width: 85% !important; }

.w86p {
  width: 86% !important; }

.w87p {
  width: 87% !important; }

.w88p {
  width: 88% !important; }

.w89p {
  width: 89% !important; }

.w90p {
  width: 90% !important; }

.w91p {
  width: 91% !important; }

.w92p {
  width: 92% !important; }

.w93p {
  width: 93% !important; }

.w94p {
  width: 94% !important; }

.w95p {
  width: 95% !important; }

.w96p {
  width: 96% !important; }

.w97p {
  width: 97% !important; }

.w98p {
  width: 98% !important; }

.w99p {
  width: 99% !important; }

.w100p {
  width: 100% !important; }

.w1e {
  width: 1em !important; }

.w2e {
  width: 2em !important; }

.w3e {
  width: 3em !important; }

.w4e {
  width: 4em !important; }

.w5e {
  width: 5em !important; }

.w6e {
  width: 6em !important; }

.w7e {
  width: 7em !important; }

.w8e {
  width: 8em !important; }

.w9e {
  width: 9em !important; }

.w10e {
  width: 10em !important; }

.w11e {
  width: 11em !important; }

.w12e {
  width: 12em !important; }

.w13e {
  width: 13em !important; }

.w14e {
  width: 14em !important; }

.w15e {
  width: 15em !important; }

.w16e {
  width: 16em !important; }

.w17e {
  width: 17em !important; }

.w18e {
  width: 18em !important; }

.w19e {
  width: 19em !important; }

.w20e {
  width: 20em !important; }

.w21e {
  width: 21em !important; }

.w22e {
  width: 22em !important; }

.w23e {
  width: 23em !important; }

.w24e {
  width: 24em !important; }

.w25e {
  width: 25em !important; }

.w26e {
  width: 26em !important; }

.w27e {
  width: 27em !important; }

.w28e {
  width: 28em !important; }

.w29e {
  width: 29em !important; }

.w30e {
  width: 30em !important; }

/* margin
---------------------------------------------*/
.m0 {
  margin: 0px !important; }

.m5 {
  margin: 5px !important; }

.m10 {
  margin: 10px !important; }

.m15 {
  margin: 15px !important; }

.m20 {
  margin: 20px !important; }

.m25 {
  margin: 25px !important; }

.m30 {
  margin: 30px !important; }

.m35 {
  margin: 35px !important; }

.m40 {
  margin: 40px !important; }

.m45 {
  margin: 45px !important; }

.m50 {
  margin: 50px !important; }

.mat0 {
  margin-top: 0px !important; }

.mat5 {
  margin-top: 5px !important; }

.mat10 {
  margin-top: 10px !important; }

.mat15 {
  margin-top: 15px !important; }

.mat20 {
  margin-top: 20px !important; }

.mat25 {
  margin-top: 25px !important; }

.mat30 {
  margin-top: 30px !important; }

.mat35 {
  margin-top: 35px !important; }

.mat40 {
  margin-top: 40px !important; }

.mat45 {
  margin-top: 45px !important; }

.mat50 {
  margin-top: 50px !important; }

.mar0 {
  margin-right: 0px !important; }

.mar5 {
  margin-right: 5px !important; }

.mar10 {
  margin-right: 10px !important; }

.mar15 {
  margin-right: 15px !important; }

.mar20 {
  margin-right: 20px !important; }

.mar25 {
  margin-right: 25px !important; }

.mar30 {
  margin-right: 30px !important; }

.mar35 {
  margin-right: 35px !important; }

.mar40 {
  margin-right: 40px !important; }

.mar45 {
  margin-right: 45px !important; }

.mar50 {
  margin-right: 50px !important; }

.mab0 {
  margin-bottom: 0px !important; }

.mab5 {
  margin-bottom: 5px !important; }

.mab10 {
  margin-bottom: 10px !important; }

.mab15 {
  margin-bottom: 15px !important; }

.mab20 {
  margin-bottom: 20px !important; }

.mab25 {
  margin-bottom: 25px !important; }

.mab30 {
  margin-bottom: 30px !important; }

.mab35 {
  margin-bottom: 35px !important; }

.mab40 {
  margin-bottom: 40px !important; }

.mab45 {
  margin-bottom: 45px !important; }

.mab50 {
  margin-bottom: 50px !important; }

.mal0 {
  margin-left: 0px !important; }

.mal5 {
  margin-left: 5px !important; }

.mal10 {
  margin-left: 10px !important; }

.mal15 {
  margin-left: 15px !important; }

.mal20 {
  margin-left: 20px !important; }

.mal25 {
  margin-left: 25px !important; }

.mal30 {
  margin-left: 30px !important; }

.mal35 {
  margin-left: 35px !important; }

.mal40 {
  margin-left: 40px !important; }

.mal45 {
  margin-left: 45px !important; }

.mal50 {
  margin-left: 50px !important; }

.me0 {
  margin: 0em !important; }

.me1 {
  margin: 1em !important; }

.me2 {
  margin: 2em !important; }

.me3 {
  margin: 3em !important; }

.me4 {
  margin: 4em !important; }

.me5 {
  margin: 5em !important; }

.me6 {
  margin: 6em !important; }

.me7 {
  margin: 7em !important; }

.me8 {
  margin: 8em !important; }

.me9 {
  margin: 9em !important; }

.me10 {
  margin: 10em !important; }

.mate0 {
  margin-top: 0em !important; }

.mate1 {
  margin-top: 1em !important; }

.mate2 {
  margin-top: 2em !important; }

.mate3 {
  margin-top: 3em !important; }

.mate4 {
  margin-top: 4em !important; }

.mate5 {
  margin-top: 5em !important; }

.mate6 {
  margin-top: 6em !important; }

.mate7 {
  margin-top: 7em !important; }

.mate8 {
  margin-top: 8em !important; }

.mate9 {
  margin-top: 9em !important; }

.mate10 {
  margin-top: 10em !important; }

.mare0 {
  margin-right: 0em !important; }

.mare1 {
  margin-right: 1em !important; }

.mare2 {
  margin-right: 2em !important; }

.mare3 {
  margin-right: 3em !important; }

.mare4 {
  margin-right: 4em !important; }

.mare5 {
  margin-right: 5em !important; }

.mare6 {
  margin-right: 6em !important; }

.mare7 {
  margin-right: 7em !important; }

.mare8 {
  margin-right: 8em !important; }

.mare9 {
  margin-right: 9em !important; }

.mare10 {
  margin-right: 10em !important; }

.mabe0 {
  margin-bottom: 0em !important; }

.mabe1 {
  margin-bottom: 1em !important; }

.mabe2 {
  margin-bottom: 2em !important; }

.mabe3 {
  margin-bottom: 3em !important; }

.mabe4 {
  margin-bottom: 4em !important; }

.mabe5 {
  margin-bottom: 5em !important; }

.mabe6 {
  margin-bottom: 6em !important; }

.mabe7 {
  margin-bottom: 7em !important; }

.mabe8 {
  margin-bottom: 8em !important; }

.mabe9 {
  margin-bottom: 9em !important; }

.mabe10 {
  margin-bottom: 10em !important; }

.male0 {
  margin-left: 0em !important; }

.male1 {
  margin-left: 1em !important; }

.male2 {
  margin-left: 2em !important; }

.male3 {
  margin-left: 3em !important; }

.male4 {
  margin-left: 4em !important; }

.male5 {
  margin-left: 5em !important; }

.male6 {
  margin-left: 6em !important; }

.male7 {
  margin-left: 7em !important; }

.male8 {
  margin-left: 8em !important; }

.male9 {
  margin-left: 9em !important; }

.male10 {
  margin-left: 10em !important; }

.male11 {
  margin-left: 11em !important; }

.male12 {
  margin-left: 12em !important; }

.male13 {
  margin-left: 13em !important; }

.male14 {
  margin-left: 14em !important; }

.male15 {
  margin-left: 15em !important; }

.male16 {
  margin-left: 16em !important; }

.male17 {
  margin-left: 17em !important; }

.male18 {
  margin-left: 18em !important; }

.male19 {
  margin-left: 19em !important; }

.male20 {
  margin-left: 20em !important; }

.nmat5 {
  margin-top: -5px !important; }

.nmat10 {
  margin-top: -10px !important; }

.nmat15 {
  margin-top: -15px !important; }

.nmat20 {
  margin-top: -20px !important; }

.nmat25 {
  margin-top: -25px !important; }

.nmat30 {
  margin-top: -30px !important; }

.nmat35 {
  margin-top: -35px !important; }

.nmat40 {
  margin-top: -40px !important; }

.nmat45 {
  margin-top: -45px !important; }

.nmat50 {
  margin-top: -50px !important; }

.nmar5 {
  margin-right: -5px !important; }

.nmar10 {
  margin-right: -10px !important; }

.nmar15 {
  margin-right: -15px !important; }

.nmar20 {
  margin-right: -20px !important; }

.nmar25 {
  margin-right: -25px !important; }

.nmar30 {
  margin-right: -30px !important; }

.nmar35 {
  margin-right: -35px !important; }

.nmar40 {
  margin-right: -40px !important; }

.nmar45 {
  margin-right: -45px !important; }

.nmar50 {
  margin-right: -50px !important; }

.nmab5 {
  margin-bottom: -5px !important; }

.nmab10 {
  margin-bottom: -10px !important; }

.nmab15 {
  margin-bottom: -15px !important; }

.nmab20 {
  margin-bottom: -20px !important; }

.nmab25 {
  margin-bottom: -25px !important; }

.nmab30 {
  margin-bottom: -30px !important; }

.nmab35 {
  margin-bottom: -35px !important; }

.nmab40 {
  margin-bottom: -40px !important; }

.nmab45 {
  margin-bottom: -45px !important; }

.nmab50 {
  margin-bottom: -50px !important; }

.nmal5 {
  margin-left: -5px !important; }

.nmal10 {
  margin-left: -10px !important; }

.nmal15 {
  margin-left: -15px !important; }

.nmal20 {
  margin-left: -20px !important; }

.nmal25 {
  margin-left: -25px !important; }

.nmal30 {
  margin-left: -30px !important; }

.nmal35 {
  margin-left: -35px !important; }

.nmal40 {
  margin-left: -40px !important; }

.nmal45 {
  margin-left: -45px !important; }

.nmal50 {
  margin-left: -50px !important; }

/* padding
---------------------------------------------*/
.p0 {
  padding: 0px !important; }

.p5 {
  padding: 5px !important; }

.p10 {
  padding: 10px !important; }

.p15 {
  padding: 15px !important; }

.p20 {
  padding: 20px !important; }

.p25 {
  padding: 25px !important; }

.p30 {
  padding: 30px !important; }

.p35 {
  padding: 35px !important; }

.p40 {
  padding: 40px !important; }

.p45 {
  padding: 45px !important; }

.p50 {
  padding: 50px !important; }

.pat0 {
  padding-top: 0px !important; }

.pat5 {
  padding-top: 5px !important; }

.pat10 {
  padding-top: 10px !important; }

.pat15 {
  padding-top: 15px !important; }

.pat20 {
  padding-top: 20px !important; }

.pat25 {
  padding-top: 25px !important; }

.pat30 {
  padding-top: 30px !important; }

.pat35 {
  padding-top: 35px !important; }

.pat40 {
  padding-top: 40px !important; }

.pat45 {
  padding-top: 45px !important; }

.pat50 {
  padding-top: 50px !important; }

.par0 {
  padding-right: 0px !important; }

.par5 {
  padding-right: 5px !important; }

.par10 {
  padding-right: 10px !important; }

.par15 {
  padding-right: 15px !important; }

.par20 {
  padding-right: 20px !important; }

.par25 {
  padding-right: 25px !important; }

.par30 {
  padding-right: 30px !important; }

.par35 {
  padding-right: 35px !important; }

.par40 {
  padding-right: 40px !important; }

.par45 {
  padding-right: 45px !important; }

.par50 {
  padding-right: 50px !important; }

.pab0 {
  padding-bottom: 0px !important; }

.pab5 {
  padding-bottom: 5px !important; }

.pab10 {
  padding-bottom: 10px !important; }

.pab15 {
  padding-bottom: 15px !important; }

.pab20 {
  padding-bottom: 20px !important; }

.pab25 {
  padding-bottom: 25px !important; }

.pab30 {
  padding-bottom: 30px !important; }

.pab35 {
  padding-bottom: 35px !important; }

.pab40 {
  padding-bottom: 40px !important; }

.pab45 {
  padding-bottom: 45px !important; }

.pab50 {
  padding-bottom: 50px !important; }

.pal0 {
  padding-left: 0px !important; }

.pal5 {
  padding-left: 5px !important; }

.pal10 {
  padding-left: 10px !important; }

.pal15 {
  padding-left: 15px !important; }

.pal20 {
  padding-left: 20px !important; }

.pal25 {
  padding-left: 25px !important; }

.pal30 {
  padding-left: 30px !important; }

.pal35 {
  padding-left: 35px !important; }

.pal40 {
  padding-left: 40px !important; }

.pal45 {
  padding-left: 45px !important; }

.pal50 {
  padding-left: 50px !important; }

/* background
---------------------------------------------*/
/* color
---------------------------------------------*/
.cRed {
  color: #c00 !important; }

/* font-weight
---------------------------------------------*/
.fw {
  font-weight: 600 !important; }

.fwn {
  font-weight: 400 !important; }

/* text-align
---------------------------------------------*/
.tal {
  text-align: left !important; }

.tac {
  text-align: center !important; }

.tar {
  text-align: right !important; }

/* line-height
---------------------------------------------*/
.lh {
  line-height: 1.75; }

.lh135 {
  line-height: 135% !important; }

.lh175 {
  line-height: 175% !important; }

.lh200 {
  line-height: 200% !important; }

/* other
---------------------------------------------*/
.curd {
  cursor: default; }

.curp {
  cursor: pointer; }

.fz12 {
  font-size: 85%; }

/*
	module:　m-box-fixed
	- 固定幅・中央揃えのボックス
-----------------------------------------------------------------*/
.m-box-fixed {
  max-width: 750px;
  margin: 0 auto; }
  @media screen and (min-width: 0px) and (max-width: 568px) {
    .m-box-fixed {
      width: auto;
      margin: 0 10px; } }

/*
	module:　m-section
	- コンテンツの区切りを表す基本ボックス
-----------------------------------------------------------------*/
.m-box-section {
  margin-top: 60px;
  padding-bottom: 0; }
  .m-box-section .m-box-section {
    margin-top: 40px; }

/*
	module:box-imgTxt
	- 画像とテキストの横並び
*/
.m-box-imgTxt1 {
  zoom: 1; }
  .m-box-imgTxt1:after {
    content: "";
    display: block;
    clear: both; }
  .m-box-imgTxt1 .imgBox {
    float: left;
    margin-right: 20px; }
  .m-box-imgTxt1 .textBox {
    overflow: hidden; }

.m-box-imgTxt2 {
  zoom: 1; }
  .m-box-imgTxt2:after {
    content: "";
    display: block;
    clear: both; }
  .m-box-imgTxt2 .imgBox {
    float: right;
    margin-left: 20px; }
  .m-box-imgTxt2 .txtBox {
    overflow: hidden; }

/*
	module:　m-box-padding
-----------------------------------------------------------------*/
.m-box-padding {
  padding: 20px; }

.m-box-col2 {
  zoom: 1; }
  .m-box-col2:after {
    content: "";
    display: block;
    clear: both; }
  @media screen and (min-width: 0px) and (max-width: 568px) {
    .m-box-col2 .col2-left {
      float: none;
      width: auto;
      padding-right: 0; } }
  @media screen and (min-width: 0px) and (max-width: 568px) {
    .m-box-col2 .col2-right {
      float: none;
      width: auto;
      margin-top: 40px; } }

.m-box-social {
  margin-top: 70px; }
  @media screen and (min-width: 0px) and (max-width: 568px) {
    .m-box-social {
      margin-top: 35px; } }
  .m-box-social .social-title {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center; }
  .m-box-social .social-button {
    margin: 0 -5px 0 -5px;
    letter-spacing: -0.35em; }
    @media screen and (min-width: 0px) and (max-width: 568px) {
      .m-box-social .social-button {
        margin: 0;
        text-align: center;
        letter-spacing: -0.4em; } }
    .m-box-social .social-button > li {
      display: inline-block;
      width: 20%;
      padding: 0 5px;
      letter-spacing: normal;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      @media screen and (min-width: 0px) and (max-width: 568px) {
        .m-box-social .social-button > li {
          display: inline-block;
          width: 45%;
          margin-top: 10px;
          letter-spacing: normal; } }
      .m-box-social .social-button > li a {
        display: block;
        padding: 20px 0;
        color: #fff;
        text-align: center; }
        .m-box-social .social-button > li a:hover {
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
        .m-box-social .social-button > li a span {
          position: relative;
          margin-right: 10px;
          line-height: 1;
          vertical-align: middle; }
    .m-box-social .social-button .button-twitter a {
      background: #39a9f1; }
      .m-box-social .social-button .button-twitter a:hover {
        background: #1093e7; }
      .m-box-social .social-button .button-twitter a span {
        top: -1px; }
    .m-box-social .social-button .button-facebook a {
      background: #335795; }
      .m-box-social .social-button .button-facebook a:hover {
        background: #26416f; }
      .m-box-social .social-button .button-facebook a span {
        top: -3px; }
    .m-box-social .social-button .button-google a {
      background: #d34836; }
      .m-box-social .social-button .button-google a:hover {
        background: #b03626; }
      .m-box-social .social-button .button-google a span {
        top: -1px; }
    .m-box-social .social-button .button-hatena a {
      background: #2c6ebd; }
      .m-box-social .social-button .button-hatena a:hover {
        background: #225694; }
      .m-box-social .social-button .button-hatena a span {
        top: -2px; }
    .m-box-social .social-button .button-pocket a {
      background: #EE4256; }
      .m-box-social .social-button .button-pocket a:hover {
        background: #e8152d; }
      .m-box-social .social-button .button-pocket a span {
        top: -2px; }

.m-box-entry .entry-meta .meta-category {
  display: inline-block;
  width: 120px;
  padding: 3px 10px;
  background: #333;
  color: #fff;
  font-size: 66%;
  text-align: center; }
.m-box-entry .entry-meta .meta-date {
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #ccc;
  font-size: 88%;
  vertical-align: middle; }
.m-box-entry .entry-meta .meta-title {
  margin-top: 15px;
  color: #ff5a0c;
  font-size: 155%;
  font-weight: bold; }
  @media screen and (min-width: 0px) and (max-width: 568px) {
    .m-box-entry .entry-meta .meta-title {
      margin-top: 10px;
      font-size: 133%; } }
.m-box-entry .entry-body {
  margin-top: 40px; }
  @media screen and (min-width: 0px) and (max-width: 568px) {
    .m-box-entry .entry-body {
      margin-top: 20px; } }
  .m-box-entry .entry-body h3 {
    margin: 60px 0 30px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
    font-size: 166%;
    font-weight: bold; }
    .m-box-entry .entry-body h3 + blockquote {
      margin-bottom: 70px; }
      @media screen and (min-width: 0px) and (max-width: 568px) {
        .m-box-entry .entry-body h3 + blockquote {
          margin-bottom: 40px; } }
    @media screen and (min-width: 0px) and (max-width: 568px) {
      .m-box-entry .entry-body h3 {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 144%; } }
  .m-box-entry .entry-body h4 {
    margin: 45px 0 20px 0;
    padding-left: 20px;
    border-left: 5px solid #000;
    font-size: 144%;
    font-weight: bold; }
    @media screen and (min-width: 0px) and (max-width: 568px) {
      .m-box-entry .entry-body h4 {
        margin-top: 25px; } }
  .m-box-entry .entry-body ul {
    margin-top: 1.2em;
    margin-left: 6px;
    padding-left: 15px;
    list-style: disc;
    line-height: 2.2; }
    .m-box-entry .entry-body ul li {
      margin-top: 1.2em; }
      @media screen and (min-width: 0px) and (max-width: 568px) {
        .m-box-entry .entry-body ul li {
          margin-top: 1em;
          line-height: 1.8; } }
      .m-box-entry .entry-body ul li ul {
        list-style: circle; }
  .m-box-entry .entry-body ol {
    margin: 1.2em 0 0 16px;
    padding-left: 15px;
    list-style: decimal;
    line-height: 2.2; }
    .m-box-entry .entry-body ol li {
      margin-top: 1.2em; }
      @media screen and (min-width: 0px) and (max-width: 568px) {
        .m-box-entry .entry-body ol li {
          margin-top: 1em;
          line-height: 1.8; } }
  .m-box-entry .entry-body p {
    margin-top: 1.2em;
    line-height: 2.2; }
    @media screen and (min-width: 0px) and (max-width: 568px) {
      .m-box-entry .entry-body p {
        margin-top: 1em;
        line-height: 2; } }
  .m-box-entry .entry-body > div {
    margin-top: 1.8em;
    margin-bottom: 1.8em;
    line-height: 2.2; }
  .m-box-entry .entry-body blockquote {
    position: relative;
    margin: 0 0 0 0;
    padding: 20px 45px 20px 55px;
    background: #eee;
    font-size: 88%; }
    .m-box-entry .entry-body blockquote > :first-child {
      margin-top: 0 !important; }
    @media screen and (min-width: 0px) and (max-width: 568px) {
      .m-box-entry .entry-body blockquote {
        padding: 20px; } }
    .m-box-entry .entry-body blockquote:before {
      content: "“";
      position: absolute;
      left: 10px;
      top: 5px;
      color: #ccc;
      font-family: Arial;
      font-size: 444%;
      font-weight: bold;
      line-height: 1; }
      @media screen and (min-width: 0px) and (max-width: 568px) {
        .m-box-entry .entry-body blockquote:before {
          display: none; } }
  .m-box-entry .entry-body strong {
    font-weight: bold; }

/*
	module:　m-opacityHover
	- ホバー時に下の画像を透過させる
-----------------------------------------------------------------*/
.m-link-opacity {
  display: inline-block;
  *display: inline;
  *zoom: 1; }
  .m-link-opacity:hover img {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-olu86y");
  src: url("../fonts/icomoon.eot?#iefix-olu86y") format("embedded-opentype"), url("../fonts/icomoon.woff?-olu86y") format("woff"), url("../fonts/icomoon.ttf?-olu86y") format("truetype"), url("../fonts/icomoon.svg?-olu86y#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="m-icon-"], [class*=" m-icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.m-icon-feedly:before {
  content: "\e600"; }

.m-icon-hatebu:before {
  content: "\e601"; }

.m-icon-line:before {
  content: "\e602"; }

.m-icon-pocket:before {
  content: "\e603"; }

.m-icon-new-tab:before {
  content: "\ea7e"; }

.m-icon-google-plus:before {
  content: "\ea88"; }

.m-icon-facebook:before {
  content: "\ea8c"; }

.m-icon-twitter:before {
  content: "\ea91"; }

.m-icon-feed2:before {
  content: "\ea94"; }

.m-icon-dropbox:before {
  content: "\eaaf"; }

.m-icon-github3:before {
  content: "\eab3"; }

.m-icon-file-pdf:before {
  content: "\eada"; }

.m-icon-file-word:before {
  content: "\eadc"; }

.m-icon-file-excel:before {
  content: "\eadd"; }

/*
	module:　m-list-inline
	- 横並びリスト
-----------------------------------------------------------------*/
.m-list-inline {
  letter-spacing: -.40em; }
  .m-list-inline li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-right: 35px;
    vertical-align: top;
    letter-spacing: normal; }
    .m-list-inline li.lastChild, .m-list-inline li:last-child {
      margin-right: 0 !important; }

/*
	module: m-list-indent
	- テキストの頭出し
-----------------------------------------------------------------*/
.m-list-indent li {
  margin-left: 1em;
  text-indent: -1em; }

/*
	module:　m-list-col2
	- ulリストの2カラムパターン
-----------------------------------------------------------------*/
.m-list-col2 {
  zoom: 1; }
  .m-list-col2:after {
    content: "";
    display: block;
    clear: both; }
  .m-list-col2 > li {
    float: left; }
    .m-list-col2 > li:last-child, .m-list-col2 > li.lastChild {
      float: right; }

.m-list-entries .entries-item {
  margin-top: 50px; }
  @media screen and (min-width: 0px) and (max-width: 568px) {
    .m-list-entries .entries-item {
      margin-top: 35px; } }
  .m-list-entries .entries-item:first-child {
    margin-top: 0 !important; }
  .m-list-entries .entries-item .item-title {
    margin-top: 15px;
    font-size: 122%;
    font-weight: bold; }
    @media screen and (min-width: 0px) and (max-width: 568px) {
      .m-list-entries .entries-item .item-title {
        margin-top: 10px; } }
  .m-list-entries .entries-item .item-meta .meta-category {
    display: inline-block;
    width: 120px;
    padding: 3px 10px;
    background: #333;
    color: #fff;
    font-size: 66%;
    text-align: center; }
  .m-list-entries .entries-item .item-meta .meta-date {
    display: inline-block;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #ccc;
    font-size: 88%;
    vertical-align: middle; }
  .m-list-entries .entries-item .item-excerpt {
    margin-top: 10px; }
    @media screen and (min-width: 0px) and (max-width: 568px) {
      .m-list-entries .entries-item .item-excerpt {
        margin-top: 7px; } }

.m-list-pager {
  letter-spacing: -.40em;
  margin-top: 70px;
  text-align: center; }
  .m-list-pager > li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    letter-spacing: normal; }
  @media screen and (min-width: 0px) and (max-width: 568px) {
    .m-list-pager {
      margin-top: 35px; } }
  .m-list-pager .pager-num {
    margin: 0 5px;
    vertical-align: middle;
    line-height: 1; }
    @media screen and (min-width: 0px) and (max-width: 568px) {
      .m-list-pager .pager-num {
        margin: 0 5px; } }
    .m-list-pager .pager-num a {
      display: block;
      padding: 15px;
      background: #ff5a0c;
      color: #fff;
      font-size: 88%; }
      @media screen and (min-width: 0px) and (max-width: 568px) {
        .m-list-pager .pager-num a {
          padding: 10px; } }
      .m-list-pager .pager-num a:hover {
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        background: #d84500; }
    .m-list-pager .pager-num span {
      display: block;
      padding: 15px;
      border: 2px solid #ff5a0c;
      background: #fff;
      font-size: 88%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      @media screen and (min-width: 0px) and (max-width: 568px) {
        .m-list-pager .pager-num span {
          padding: 10px; } }

.m-list-widget {
  margin: 70px -15px 0 -15px;
  letter-spacing: -0.35em;
  overflow: hidden; }
  @media screen and (min-width: 0px) and (max-width: 568px) {
    .m-list-widget {
      margin: 35px 0 0 0; } }
  .m-list-widget .widget-item:nth-child(1) {
    margin: 0 15px;
    letter-spacing: normal; }
    .m-list-widget .widget-item:nth-child(1) dl {
      padding: 20px;
      background: #eee; }
    @media screen and (min-width: 0px) and (max-width: 568px) {
      .m-list-widget .widget-item:nth-child(1) {
        margin: 0; } }
  .m-list-widget .widget-item:nth-child(2), .m-list-widget .widget-item:nth-child(3), .m-list-widget .widget-item:nth-child(4) {
    display: inline-block;
    width: 33.3%;
    margin-top: 20px;
    padding: 0 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: normal;
    vertical-align: top; }
    @media screen and (min-width: 0px) and (max-width: 568px) {
      .m-list-widget .widget-item:nth-child(2), .m-list-widget .widget-item:nth-child(3), .m-list-widget .widget-item:nth-child(4) {
        display: block;
        width: auto;
        padding: 0; } }
    .m-list-widget .widget-item:nth-child(2) .widget-content, .m-list-widget .widget-item:nth-child(3) .widget-content, .m-list-widget .widget-item:nth-child(4) .widget-content {
      font-size: 88%; }
      @media screen and (min-width: 0px) and (max-width: 568px) {
        .m-list-widget .widget-item:nth-child(2) .widget-content, .m-list-widget .widget-item:nth-child(3) .widget-content, .m-list-widget .widget-item:nth-child(4) .widget-content {
          font-size: 100%; } }
  .m-list-widget .widget-item:nth-child(2) dl, .m-list-widget .widget-item:nth-child(3) dl {
    border-right: 1px solid #eee; }
  .m-list-widget .widget-item:first-child {
    margin-top: 0 !important; }
  .m-list-widget .widget-item .widget-title {
    font-size: 111%;
    font-weight: bold; }
  .m-list-widget .widget-item .widget-content {
    margin-top: 15px; }
  .m-list-widget .widget-author .author-pic {
    display: table-cell;
    padding-right: 10px;
    vertical-align: middle; }
  .m-list-widget .widget-author .author-name {
    display: table-cell;
    font-size: 88%;
    vertical-align: middle; }
  .m-list-widget .widget-author .author-description {
    margin-top: 10px;
    font-size: 88%;
    line-height: 1.8; }
  .m-list-widget .widget-category ul {
    margin-left: 5px;
    padding-left: 15px;
    color: #333;
    list-style: disc;
    line-height: 1.8; }

/*
	module:　m-table-common
	- テーブルの基本スタイル
-----------------------------------------------------------------*/
.m-table-common {
  width: 100%;
  border-top: 1px solid #d2caca;
  vertical-align: middle; }
  .m-table-common thead th {
    padding: 12px 15px;
    border-right: 1px solid #d2caca;
    background: #948181;
    color: #fff;
    font-weight: bold;
    text-align: left;
    line-height: 1.4; }
    .m-table-common thead th.lastChild {
      border-right: 0; }
  .m-table-common tbody tr.even {
    background: #f4f2f2; }
  .m-table-common tbody th, .m-table-common tbody td {
    padding: 12px 15px;
    border-right: 1px solid #d2caca;
    border-bottom: 1px solid #d2caca;
    vertical-align: middle;
    line-height: 1.4; }
  .m-table-common tbody th {
    text-align: left; }
    .m-table-common tbody th.lastChild {
      border-right: 0; }
  .m-table-common tbody td.lastChild {
    border-right: 0; }

/*
	module:　m-txt-ttlx
	- 見出し
-----------------------------------------------------------------*/
.m-txt-ttl2 {
  margin-bottom: 50px;
  font-size: 188%;
  font-weight: bold; }

.m-txt-meta {
  color: #666;
  font-size: 77%; }

.m-btn-social {
  width: 30px;
  padding: 8px 0;
  display: inline-block; }
  .m-btn-social i {
    color: #666;
    font-size: 128%; }

.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
  -moz-border-radius: 0 0 0 0 !important;
  -webkit-border-radius: 0 0 0 0 !important;
  background: none !important;
  border: 0 !important;
  bottom: auto !important;
  float: none !important;
  height: auto !important;
  left: auto !important;
  line-height: 1.1em !important;
  margin: 0 !important;
  outline: 0 !important;
  overflow: visible !important;
  padding: 0 !important;
  position: static !important;
  right: auto !important;
  text-align: left !important;
  top: auto !important;
  vertical-align: baseline !important;
  width: auto !important;
  box-sizing: content-box !important;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 1em !important;
  min-height: inherit !important;
  min-height: auto !important; }

.syntaxhighlighter {
  width: 100% !important;
  margin: 1em 0 1em 0 !important;
  position: relative !important;
  overflow: auto !important;
  font-size: 1em !important; }
  .syntaxhighlighter.source {
    overflow: hidden !important; }
  .syntaxhighlighter .bold {
    font-weight: bold !important; }
  .syntaxhighlighter .italic {
    font-style: italic !important; }
  .syntaxhighlighter .line {
    white-space: pre !important; }
  .syntaxhighlighter table {
    width: 100% !important; }
    .syntaxhighlighter table caption {
      text-align: left !important;
      padding: .5em 0 0.5em 1em !important; }
    .syntaxhighlighter table td.code {
      width: 100% !important; }
      .syntaxhighlighter table td.code .container {
        position: relative !important; }
        .syntaxhighlighter table td.code .container textarea {
          box-sizing: border-box !important;
          position: absolute !important;
          left: 0 !important;
          top: 0 !important;
          width: 100% !important;
          height: 100% !important;
          border: none !important;
          background: white !important;
          padding-left: 1em !important;
          overflow: hidden !important;
          white-space: pre !important; }
    .syntaxhighlighter table td.gutter .line {
      text-align: right !important;
      padding: 0 0.5em 0 1em !important; }
    .syntaxhighlighter table td.code .line {
      padding: 0 1em !important; }
  .syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line {
    padding-left: 0em !important; }
  .syntaxhighlighter.show {
    display: block !important; }
  .syntaxhighlighter.collapsed table {
    display: none !important; }
  .syntaxhighlighter.collapsed .toolbar {
    padding: 0.1em 0.8em 0em 0.8em !important;
    font-size: 1em !important;
    position: static !important;
    width: auto !important;
    height: auto !important; }
    .syntaxhighlighter.collapsed .toolbar span {
      display: inline !important;
      margin-right: 1em !important; }
      .syntaxhighlighter.collapsed .toolbar span a {
        padding: 0 !important;
        display: none !important; }
        .syntaxhighlighter.collapsed .toolbar span a.expandSource {
          display: inline !important; }
  .syntaxhighlighter .toolbar {
    position: absolute !important;
    right: 1px !important;
    top: 1px !important;
    width: 11px !important;
    height: 11px !important;
    font-size: 10px !important;
    z-index: 10 !important; }
    .syntaxhighlighter .toolbar span.title {
      display: inline !important; }
    .syntaxhighlighter .toolbar a {
      display: block !important;
      text-align: center !important;
      text-decoration: none !important;
      padding-top: 1px !important; }
      .syntaxhighlighter .toolbar a.expandSource {
        display: none !important; }
  .syntaxhighlighter.ie {
    font-size: .9em !important;
    padding: 1px 0 1px 0 !important; }
    .syntaxhighlighter.ie .toolbar {
      line-height: 8px !important; }
      .syntaxhighlighter.ie .toolbar a {
        padding-top: 0px !important; }
  .syntaxhighlighter.printing .line.alt1 .content,
  .syntaxhighlighter.printing .line.alt2 .content,
  .syntaxhighlighter.printing .line.highlighted .number,
  .syntaxhighlighter.printing .line.highlighted.alt1 .content,
  .syntaxhighlighter.printing .line.highlighted.alt2 .content {
    background: none !important; }
  .syntaxhighlighter.printing .line .number {
    color: #bbbbbb !important; }
  .syntaxhighlighter.printing .line .content {
    color: black !important; }
  .syntaxhighlighter.printing .toolbar {
    display: none !important; }
  .syntaxhighlighter.printing a {
    text-decoration: none !important; }
  .syntaxhighlighter.printing .plain, .syntaxhighlighter.printing .plain a {
    color: black !important; }
  .syntaxhighlighter.printing .comments, .syntaxhighlighter.printing .comments a {
    color: #008200 !important; }
  .syntaxhighlighter.printing .string, .syntaxhighlighter.printing .string a {
    color: blue !important; }
  .syntaxhighlighter.printing .keyword {
    color: #006699 !important;
    font-weight: bold !important; }
  .syntaxhighlighter.printing .preprocessor {
    color: gray !important; }
  .syntaxhighlighter.printing .variable {
    color: #aa7700 !important; }
  .syntaxhighlighter.printing .value {
    color: #009900 !important; }
  .syntaxhighlighter.printing .functions {
    color: #ff1493 !important; }
  .syntaxhighlighter.printing .constants {
    color: #0066cc !important; }
  .syntaxhighlighter.printing .script {
    font-weight: bold !important; }
  .syntaxhighlighter.printing .color1, .syntaxhighlighter.printing .color1 a {
    color: gray !important; }
  .syntaxhighlighter.printing .color2, .syntaxhighlighter.printing .color2 a {
    color: #ff1493 !important; }
  .syntaxhighlighter.printing .color3, .syntaxhighlighter.printing .color3 a {
    color: red !important; }
  .syntaxhighlighter.printing .break, .syntaxhighlighter.printing .break a {
    color: black !important; }

.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
  -moz-border-radius: 0 0 0 0 !important;
  -webkit-border-radius: 0 0 0 0 !important;
  background: none !important;
  border: 0 !important;
  bottom: auto !important;
  float: none !important;
  height: auto !important;
  left: auto !important;
  line-height: 1.1em !important;
  margin: 0 !important;
  outline: 0 !important;
  overflow: visible !important;
  padding: 0 !important;
  position: static !important;
  right: auto !important;
  text-align: left !important;
  top: auto !important;
  vertical-align: baseline !important;
  width: auto !important;
  box-sizing: content-box !important;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 1em !important;
  min-height: inherit !important;
  min-height: auto !important; }

.syntaxhighlighter {
  width: 100% !important;
  margin: 1em 0 1em 0 !important;
  position: relative !important;
  overflow: auto !important;
  font-size: 1em !important; }
  .syntaxhighlighter.source {
    overflow: hidden !important; }
  .syntaxhighlighter .bold {
    font-weight: bold !important; }
  .syntaxhighlighter .italic {
    font-style: italic !important; }
  .syntaxhighlighter .line {
    white-space: pre !important; }
  .syntaxhighlighter table {
    width: 100% !important; }
    .syntaxhighlighter table caption {
      text-align: left !important;
      padding: .5em 0 0.5em 1em !important; }
    .syntaxhighlighter table td.code {
      width: 100% !important; }
      .syntaxhighlighter table td.code .container {
        position: relative !important; }
        .syntaxhighlighter table td.code .container textarea {
          box-sizing: border-box !important;
          position: absolute !important;
          left: 0 !important;
          top: 0 !important;
          width: 100% !important;
          height: 100% !important;
          border: none !important;
          background: white !important;
          padding-left: 1em !important;
          overflow: hidden !important;
          white-space: pre !important; }
    .syntaxhighlighter table td.gutter .line {
      text-align: right !important;
      padding: 0 0.5em 0 1em !important; }
    .syntaxhighlighter table td.code .line {
      padding: 0 1em !important; }
  .syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line {
    padding-left: 0em !important; }
  .syntaxhighlighter.show {
    display: block !important; }
  .syntaxhighlighter.collapsed table {
    display: none !important; }
  .syntaxhighlighter.collapsed .toolbar {
    padding: 0.1em 0.8em 0em 0.8em !important;
    font-size: 1em !important;
    position: static !important;
    width: auto !important;
    height: auto !important; }
    .syntaxhighlighter.collapsed .toolbar span {
      display: inline !important;
      margin-right: 1em !important; }
      .syntaxhighlighter.collapsed .toolbar span a {
        padding: 0 !important;
        display: none !important; }
        .syntaxhighlighter.collapsed .toolbar span a.expandSource {
          display: inline !important; }
  .syntaxhighlighter .toolbar {
    position: absolute !important;
    right: 1px !important;
    top: 1px !important;
    width: 11px !important;
    height: 11px !important;
    font-size: 10px !important;
    z-index: 10 !important; }
    .syntaxhighlighter .toolbar span.title {
      display: inline !important; }
    .syntaxhighlighter .toolbar a {
      display: block !important;
      text-align: center !important;
      text-decoration: none !important;
      padding-top: 1px !important; }
      .syntaxhighlighter .toolbar a.expandSource {
        display: none !important; }
  .syntaxhighlighter.ie {
    font-size: .9em !important;
    padding: 1px 0 1px 0 !important; }
    .syntaxhighlighter.ie .toolbar {
      line-height: 8px !important; }
      .syntaxhighlighter.ie .toolbar a {
        padding-top: 0px !important; }
  .syntaxhighlighter.printing .line.alt1 .content,
  .syntaxhighlighter.printing .line.alt2 .content,
  .syntaxhighlighter.printing .line.highlighted .number,
  .syntaxhighlighter.printing .line.highlighted.alt1 .content,
  .syntaxhighlighter.printing .line.highlighted.alt2 .content {
    background: none !important; }
  .syntaxhighlighter.printing .line .number {
    color: #bbbbbb !important; }
  .syntaxhighlighter.printing .line .content {
    color: black !important; }
  .syntaxhighlighter.printing .toolbar {
    display: none !important; }
  .syntaxhighlighter.printing a {
    text-decoration: none !important; }
  .syntaxhighlighter.printing .plain, .syntaxhighlighter.printing .plain a {
    color: black !important; }
  .syntaxhighlighter.printing .comments, .syntaxhighlighter.printing .comments a {
    color: #008200 !important; }
  .syntaxhighlighter.printing .string, .syntaxhighlighter.printing .string a {
    color: blue !important; }
  .syntaxhighlighter.printing .keyword {
    color: #006699 !important;
    font-weight: bold !important; }
  .syntaxhighlighter.printing .preprocessor {
    color: gray !important; }
  .syntaxhighlighter.printing .variable {
    color: #aa7700 !important; }
  .syntaxhighlighter.printing .value {
    color: #009900 !important; }
  .syntaxhighlighter.printing .functions {
    color: #ff1493 !important; }
  .syntaxhighlighter.printing .constants {
    color: #0066cc !important; }
  .syntaxhighlighter.printing .script {
    font-weight: bold !important; }
  .syntaxhighlighter.printing .color1, .syntaxhighlighter.printing .color1 a {
    color: gray !important; }
  .syntaxhighlighter.printing .color2, .syntaxhighlighter.printing .color2 a {
    color: #ff1493 !important; }
  .syntaxhighlighter.printing .color3, .syntaxhighlighter.printing .color3 a {
    color: red !important; }
  .syntaxhighlighter.printing .break, .syntaxhighlighter.printing .break a {
    color: black !important; }

.syntaxhighlighter {
  background-color: white !important; }
  .syntaxhighlighter .line.alt1 {
    background-color: #f5f5f5 !important; }
  .syntaxhighlighter .line.alt2 {
    background-color: white !important; }
  .syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
    background-color: #e0e0e0 !important; }
  .syntaxhighlighter .line.highlighted.number {
    color: black !important; }
  .syntaxhighlighter table caption {
    color: black !important; }
  .syntaxhighlighter .gutter {
    color: #afafaf !important; }
    .syntaxhighlighter .gutter .line {
      border-right: 3px solid #ff6b25 !important; }
      .syntaxhighlighter .gutter .line.highlighted {
        background-color: #ff6b25 !important;
        color: white !important; }
  .syntaxhighlighter.printing .line .content {
    border: none !important; }
  .syntaxhighlighter.collapsed {
    overflow: visible !important; }
    .syntaxhighlighter.collapsed .toolbar {
      color: #00f !important;
      background: #fff !important;
      border: 1px solid #ff6b25 !important; }
      .syntaxhighlighter.collapsed .toolbar a {
        color: #00f !important; }
        .syntaxhighlighter.collapsed .toolbar a:hover {
          color: #f00 !important; }
  .syntaxhighlighter .toolbar {
    color: #fff !important;
    background: #ff6b25 !important;
    border: none !important; }
    .syntaxhighlighter .toolbar a {
      color: #fff !important; }
      .syntaxhighlighter .toolbar a:hover {
        color: #000 !important; }
  .syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: black !important; }
  .syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    color: #008200 !important; }
  .syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: blue !important; }
  .syntaxhighlighter .keyword {
    color: #006699 !important; }
  .syntaxhighlighter .preprocessor {
    color: gray !important; }
  .syntaxhighlighter .variable {
    color: #aa7700 !important; }
  .syntaxhighlighter .value {
    color: #009900 !important; }
  .syntaxhighlighter .functions {
    color: #ff1493 !important; }
  .syntaxhighlighter .constants {
    color: #0066cc !important; }
  .syntaxhighlighter .script {
    font-weight: bold !important;
    color: #006699 !important;
    background-color: none !important; }
  .syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
    color: gray !important; }
  .syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
    color: #ff1493 !important; }
  .syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
    color: red !important; }

.syntaxhighlighter .keyword {
  font-weight: bold !important; }

.syntaxhighlighter {
  background-color: white !important; }
  .syntaxhighlighter .line.alt1 {
    background-color: #f5f5f5 !important; }
  .syntaxhighlighter .line.alt2 {
    background-color: white !important; }
  .syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
    background-color: #e0e0e0 !important; }
  .syntaxhighlighter .line.highlighted.number {
    color: black !important; }
  .syntaxhighlighter table caption {
    color: black !important; }
  .syntaxhighlighter .gutter {
    color: #afafaf !important; }
    .syntaxhighlighter .gutter .line {
      border-right: 3px solid #ff6b25 !important; }
      .syntaxhighlighter .gutter .line.highlighted {
        background-color: #ff6b25 !important;
        color: white !important; }
  .syntaxhighlighter.printing .line .content {
    border: none !important; }
  .syntaxhighlighter.collapsed {
    overflow: visible !important; }
    .syntaxhighlighter.collapsed .toolbar {
      color: #00f !important;
      background: #fff !important;
      border: 1px solid #ff6b25 !important; }
      .syntaxhighlighter.collapsed .toolbar a {
        color: #00f !important; }
        .syntaxhighlighter.collapsed .toolbar a:hover {
          color: #f00 !important; }
  .syntaxhighlighter .toolbar {
    color: #fff !important;
    background: #ff6b25 !important;
    border: none !important; }
    .syntaxhighlighter .toolbar a {
      color: #fff !important; }
      .syntaxhighlighter .toolbar a:hover {
        color: #000 !important; }
  .syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: black !important; }
  .syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    color: #008200 !important; }
  .syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: blue !important; }
  .syntaxhighlighter .keyword {
    color: #006699 !important; }
  .syntaxhighlighter .preprocessor {
    color: gray !important; }
  .syntaxhighlighter .variable {
    color: #aa7700 !important; }
  .syntaxhighlighter .value {
    color: #009900 !important; }
  .syntaxhighlighter .functions {
    color: #ff1493 !important; }
  .syntaxhighlighter .constants {
    color: #0066cc !important; }
  .syntaxhighlighter .script {
    font-weight: bold !important;
    color: #006699 !important;
    background-color: none !important; }
  .syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
    color: gray !important; }
  .syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
    color: #ff1493 !important; }
  .syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
    color: red !important; }

.syntaxhighlighter .keyword {
  font-weight: bold !important; }

/*---------------------------- layout ----------------------------*/
html {
  background: #fff; }

body {
  margin: 0px; }

/* header */
#header {
  padding: 90px 0; }
  @media screen and (min-width: 0px) and (max-width: 568px) {
    #header {
      padding: 40px 0; } }
  #header .header-title {
    text-align: center;
    line-height: 0; }
    #header .header-title a {
      color: inherit;
      text-decoration: none; }
      #header .header-title a img {
        width: 282px; }
        @media screen and (min-width: 0px) and (max-width: 568px) {
          #header .header-title a img {
            width: 70%; } }
  #header .header-catch {
    margin-top: 10px;
    color: #999;
    font-size: 66%;
    text-align: center; }

/* footer */
#footer {
  padding: 70px 0; }
  @media screen and (min-width: 0px) and (max-width: 568px) {
    #footer {
      padding: 40px 0; } }
  #footer .m-box-fixed {
    text-align: center; }
    #footer .m-box-fixed .copyright {
      color: #666;
      font-family: Arial;
      font-size: 88%; }
