/*---------------------------------------------
Print Style
---------------------------------------------*/
html {
	background : none;
}

body {
	padding : 0;
	background : none;
}

/*---------------------------------------------
for IE6
---------------------------------------------*/
* html body {
	zoom : 67%;
}

/*---------------------------------------------
for IE7
---------------------------------------------*/
*:first-child + html body {
	zoom : 67%;
}
