<MTMultiBlog include_blogs="$blog_id">
<MTAssets offset="$offset" lastn="$lastn" tags="$tags">
<$MTAssetProperty property="image_width" setvar="imgw" $>
<$MTAssetProperty property="image_height" setvar="imgh" $>
<MTIf name="imgw" gt="$imgh">
<li><a href="" id="<mt:assetid>"><img src="<MTAssetThumbnailURL width="100" square="$square">" alt="" /></a></li>
<MTElse>
<li><a href="" id="<mt:assetid>"><img src="<MTAssetThumbnailURL height="100" square="$square">" alt="" /></a></li>
</MTIf>
</MTAssets>
</MTMultiBlog>