@charset "UTF-8";

$diP: "../images/";

/*
	module:　m-opacityHover
	- ホバー時に下の画像を透過させる
-----------------------------------------------------------------*/
.m-link-opacity {
	@include inline-block;

	&:hover img {
		opacity: 0.7;
	}
}