@charset "UTF-8";

// module parts
// サイトを通じて、2回以上使用するパーツの定義(basic css not mixins)

// ## NamingRule
// - m-(cateogoryname)-(classname)

// ##Rules
// - ここに登録したスタイルは新規フェーズ後は原則変更しない
// - ここにはサイト内で2回以上使用するパーツを定義する

/*
	module:　m-txt-ttlx
	- 見出し
-----------------------------------------------------------------*/
.m-txt-ttl2 {
	margin-bottom: 50px;
	font-size: fz(18,34);
	font-weight: bold;
}
.m-txt-meta {
	color: #666;
	font-size: fz(18,14);
}