@charset "UTF-8";

/*
	module:　m-box-fixed
	- 固定幅・中央揃えのボックス
-----------------------------------------------------------------*/
[data-fixed] {
	max-width: $fixedWidth;
	margin: 0 auto;

	@media #{$breakS} {
		width: auto;
		margin: 0 15px;
	}
}

.m-box-social {
	position: relative;
	margin-top: 4em;
	padding: 30px;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 45px;
		bottom: 45px;
		margin-bottom: -45px;
		width: 100%;
		border: 1px solid #eee;
		z-index: -1;
	}

	.social-title {
		width: 12em;
		margin: 0 auto 20px auto;
		text-align: center;
		background: #fff;
	}
	.social-button {
		margin: 0 -5px 0 -5px;
		letter-spacing: -0.35em;

		> li {
			display: inline-block;
			width: 20%;
			padding: 0 5px;
			letter-spacing: normal;
			box-sizing: border-box;

			@media #{$breakS} {
				display: block;
				width: 100%;
				margin-top: 10px;
			}

			a {
				display: block;
				padding: 20px 0;
				color: #fff;
				text-align: center;

				&:hover {
					transition: all 0.3s;
				}

				span {
					position: relative;
					margin-right: 10px;
					line-height: 1;
					vertical-align: middle;
				}
			}
		}
		.button-twitter a {
			background: #39a9f1;

			&:hover {
				background: darken(#39a9f1, 10%);
			}

			span {
				top: -1px;
			}
		}
		.button-facebook a {
			background: #335795;

			&:hover {
				background: darken(#335795, 10%);
			}

			span {
				top: -3px;
			}
		}
		.button-google a {
			background: #d34836;

			&:hover {
				background: darken(#d34836, 10%);
			}

			span {
				top: -1px;
			}
		}
		.button-hatena a {
			background: #2c6ebd;

			&:hover {
				background: darken(#2c6ebd, 10%);
			}

			span {
				top: -2px;
			}
		}
		.button-pocket a {
			background: #EE4256;

			&:hover {
				background: darken(#EE4256, 10%);
			}

			span {
				top: -2px;
			}
		}
	}
}

.m-box-entry {
	margin-top: -5px;

	.entry-title {
		font-size: fz(18,36);
	}
	.entry-meta {
		margin-top: 0.2em;
		margin-bottom: 3em;

		.meta-date {
			display: inline-block;
			vertical-align: middle;
		}
		.meta-category {
			display: inline-block;
			margin-left: 10px;
			text-align: center;
			vertical-align: middle;
		}
	}

	.entry-outline {
		margin-bottom: 3em;
		padding: 30px;
		border: 1px solid #eee;
		background: #fafafa;
		line-height: 1.8;

		li {
			margin-top: 0.9em;
			margin-left: 20px;
			padding-left: 15px;
			list-style: decimal;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	.entry-body {
		line-height: 1.8;

		h2 {
			margin: 1.5em 0 0.5em 0;
			font-size: fz(18,30);
			font-weight: bold;
		}
		h3 {
			margin: 1.5em 0 0.5em 0;
			font-size: fz(18,26);
			font-weight: bold;
		}
		h4 {
			margin: 1.6em 0 1em 0;
			font-size: fz(18,22);
			font-weight: bold;
		}

		p {
			margin: 1em 0;
		}

		ul {
			margin: 0 0 1em 1.5em;
			list-style: disc;

			li {
				ul {
					margin-bottom: 0;

					li {
						list-style-type: circle;
					}
				}
			}
		}

		ol {
			margin: 0 0 1em 1.5em;
			list-style: decimal;

			li {
				ol {
					margin-top: 0;
					padding-left: 13px;
				}
			}
		}

		blockquote {
			position: relative;
			margin: 1.5em 0 0 0;
			padding: 50px 50px 35px 50px;
			border: 1px solid #eee;
			background: #fafafa;

			> :first-child {
				margin-top: 0 !important;
			}

			&:before {
				content: "“";
				position: absolute;
				left: 15px;
				top: 10px;
				color: #eee;
				font-family: Arial;
				font-size: fz(18,50);
				font-weight: bold;
				line-height: 1;
			}
		}

		hr {
			display: block;
			width: 3em;
			height: 2px;
			padding: 0;
			background: #eee;
			border: none;
			margin: 2.5em auto 2.5em auto;
		}

		strong {
			font-weight: bold;
		}
	}
}