@charset "UTF-8";

.m-list-entries {
	.entries-item {
		position: relative;
		margin-top: 3em;

		&:first-child {
			margin-top: 0 !important;
		}

		a {
			position: relative;
			display: block;
			color: inherit;

			&:hover {
				.item-title {
					color: $siteMainColor;
				}
			}
		}

		.item-title {
			font-size: fz(18,28);

			@media #{$breakS} {
				margin-top: 10px;
			}
		}
		.item-meta {
			margin-top: 0.2em;
			font-size: fz(18,16);

			.meta-date {
				display: inline-block;
				vertical-align: middle;
			}
			.meta-category {
				display: inline-block;
				margin-left: 10px;
				text-align: center;
				vertical-align: middle;
			}
		}
		.item-excerpt {
			margin-top: 0.5em;
		}
	}
}

.m-list-pager {
	position: relative;
	margin-top: 90px;
	text-align: center;

	.pager-num {
		display: inline-block;
		margin: 0 10px;
		vertical-align: middle;
		line-height: 1;
		letter-spacing: -0.4em;

		@media #{$breakS} {
			margin: 0 5px;
		}

		a {
			display: block;
			padding: 10px 13px;
			border: 1px solid $siteMainColor;
			background: $siteMainColor;
			color: #fff;
			font-size: fz(18,16);
			letter-spacing: normal;

			&:hover {
				transition: all 0.3s;
				background: lighten($siteMainColor, 10%);
			}
		}
		span {
			display: block;
			padding: 10px 13px;
			border: 1px solid $siteMainColor;
			background: #fff;
			font-size: fz(18,16);
			box-sizing: border-box;
		}
	}
}

