@charset "UTF-8";

//------------------------------//
//	reset.scss用のパラメーター		//
//------------------------------//
$defaultBgColor: 	#fff; /* old #fcfcfc */
$defaultTxtColor: 	#555;
$defaultStrongTxtColor: 	#333;
$siteMainColor: #F08200;

$defaultLinkColor: $siteMainColor;
$defaultLinkVisitedColor: $defaultLinkColor;
$defaultLinkHoverColor: darken($siteMainColor,5%);

$defaultTxtSize: 	18px;
$defaultLineHeight: 1.8;


//---- Break Point ----
$fixedWidth: 950px;

$breakS: "screen and (min-width: 0px) and (max-width: 568px)";
$breakM: "screen and (max-width: 960px)";
$retina: "only screen and (-webkit-min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 1.5)";

//---- Border Color ----
$boxBorderColor: #dbd5c8;
$defaultBorderColor: #d6d6d6;
$currentBorderColor: #f97e12;

$lineHeight: 1.75;

// * Support
$support-ie6: true;
$support-ie7: true;
$support-ie8: true;

// * HTML5
$use-html5: false;